body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: orange;
  /* background: linear-gradient(135deg, rgb(120, 115, 112) 0%, rgb(31, 35, 36) 100%); */
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: absolute;
  border: 2px solid purple;
  border-radius: 8px;
}

.title {
  font-size: 50px;
  font-family: "Gloria Hallelujah", cursive;
  margin-right: 20px;
  margin-left: 20px;
}

.jason-image {
  background-image: url("./capy_run.png");
  background-repeat: no-repeat;
  background-size: 54px 66px;
  height: 66px;
  width: 54px;
}

.farmer-image {
  background-image: url("./farmer_image.png");
  background-repeat: no-repeat;
  background-size: 54px 66px;
  height: 66px;
  width: 54px;
}

.game-menu {
  position: relative;
  z-index: 0;
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  transition: opacity 1.5s;
  border: 2px solid green;
  border-radius: 8px;
  box-sizing: content-box;
  font-family: "Gloria Hallelujah", cursive;
}

.game-info {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 40px;
  position: absolute;
  margin-left: 800px;
  font-family: "Gloria Hallelujah", cursive;
  transition: opacity 1.5s;
}

.lives,
.corndogs {
  color: black;
  font-size: 30px;
}

.game-menu.hide,
.game-info.hide {
  opacity: 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  font-family: "Gloria Hallelujah", cursive;
}

.menu-title {
  width: 90%;
  font-family: "Gloria Hallelujah", cursive;
  text-shadow: -1px -1px 0 rgb(90, 90, 90), 1px -1px 0 rgb(90, 90, 90),
    -1px 1px 0 rgb(90, 90, 90), 1px 1px 0 rgb(90, 90, 90);
  text-align: center;
  font-size: 50px;
  color: pink;
}

.menu-text {
  color: black;
  font-size: 32px;
  text-align: center;
  line-height: 1.25;
  text-shadow: 1px 1px 1px rgb(90, 90, 90);
  width: 60%;
  margin: 0 !important;
}

.start-button {
  background-color: yellow;
  padding: 15px 40px;
  border-radius: 8px;
  margin: 15px;
  color: black;
  font-size: 24px;
  cursor: pointer;
  font-family: "Gloria Hallelujah", cursive;
}

.start-button:hover {
  cursor: pointer;
}

/* .personal-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
}

.personal-links svg {
  font-size: 45px;
  margin: 10px 10px;
  color: white;
} */
